.field-group-scrollable-tabs-nav-wrapper .type-horizontal ul.scrollable-tabs-list {
  list-style: none;
  margin: 5px;
  cursor: pointer;
  background: #fff;
}

.field-group-scrollable-tabs-nav-wrapper .type-horizontal ul.scrollable-tabs-list:after {
  content: "";
  display: block;
  clear: both;
}

.field-group-scrollable-tabs-nav-wrapper .type-horizontal ul.scrollable-tabs-list li {
  float: left;
  margin: 5px;
}

.field-group-scrollable-tabs-nav-wrapper .type-vertical ul.scrollable-tabs-list {
  float: left;
  width: 300px;
  list-style: none;
  margin: 5px;
  cursor: pointer;
}

.field-group-scrollable-tabs-nav-wrapper .type-vertical div.scrollable-tabs-container {
  float: right;
  width: calc(100% - 340px);
}

.tab-item {
  /* Hack for jQuery proper measuring on parent items */
  padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 1px;
  margin-bottom: -1px;
}

.tab-item:after {
  clear: both;
  display: block;
  content: "";
}

.tab-item.collapsible .tab-title {
  cursor: pointer;
}

.tab-item.collapsible .tab-title:before {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  content: " ";
  position: relative;
  top: 5px;
  float: left;
  margin-right: 5px;
}

.tab-item.collapsible.collapsed .tab-title:before,
.tab-item.collapsible.collapsed-animated .tab-title:before {
  width: 0;
  height: 0;
  border-left: 7px solid #000;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-right: none;
  content: " ";
  position: relative;
  top: 5px;
  float: left;
  margin-right: 5px;
}

.tab-item.collapsible.collapsed .tab-content {
  display: none;
}

.scrollable-tabs-list.fixed {
  position: fixed;
  top: 75px;
}

.scrollable-tabs-list-item {
  border-left: 2px solid transparent;
  padding: 0 5px;
}

.scrollable-tabs-list-item.active {
  border-left: 2px solid blue;
}
